body {
    font-family: 'Poppins', 'Outfit', 'Kanit';
    text-align: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #000000, #ffffff);
    min-height: 120vh;
    padding-bottom: 80px;
    width: 100%;
}

header {
    margin: 150px auto;
    max-width: 1000px;
    color: white;
}

.fix-top {
    position: fixed;
    top: 35px;
    margin: 0px auto;
    width: 1000px;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.fix-top button{
    padding: 5px;
    height: fit-content;
    margin: 18.72px;
    border-radius: 5px;
}

.nav-menu-inner {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 40px;
    font-weight: bold;
    font-size: 30px;
}

#mekbuk {
    background-color: rgba(0, 0, 0, 0.209);
    border-radius: 8px;
    margin-right: 40px;
    width: fit-content;
    align-self: center;
}

.hero-headline {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: start;
}

section {
    margin: 0px auto;
    max-width: 1000px;
}

section img {
    max-width: 100%;
    height: auto;
}

.image-section {
    animation: scaleUp 3s ease-out;
}

p {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    text-align: left;
}

.description {
    color: white;
    padding: 0 15px;
    font-size: 23px;
}

.content {
    background-color: rgb(237, 237, 237);
    border-radius: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    text-align: center;
}

table img {
    width: 100px;
    height: auto;
}

table img:hover{
    transform: scale(2);
}

.buy {
    display: block;
    width: 150px;
    height: 40px;
    background-color: #ffffff;
    color: black;
    border: 2px solid black;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    margin: 20px auto;
    text-align: center;
    font-weight: bold;
}

.buy:hover {
    background-color: #000000;
    color: #ffffff;
}


footer {
    background-color: rgba(255, 255, 255, 0.209);
    font-size: 14px;
    color: #777;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer p{
    text-align: center;
}

@keyframes scaleUp {
    from {
        transform: scale(0.9);
        opacity: 0.5;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}


